 // Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include "includes/behaviours_homerow_mods.dtsi"
#include <dt-bindings/zmk/mouse.h>

// Home row mods macro
#define HRML(k1,k2,k3,k4) &ht LSHFT k1  &ht LALT k2  &ht LCTRL k3  &ht LGUI k4

#define HRMR(k1,k2,k3,k4) &ht RGUI k1  &ht RCTRL k2  &ht RALT k3  &ht RSHFT k4
/ {
  
    behaviors {
        ht: hold_tap {
            label = "hold_tap";
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <220>;
            quick-tap-ms = <150>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };
       
	num_word: behavior_num_word {
	    compatible = "zmk,behavior-caps-word";
	    label = "NUM_WORD";
	    #binding-cells = <0>;
            layers = <3>;                                // insert location of numbers layer here
	    continue-list = <BACKSPACE DELETE DOT COMMA MCLK LCLK RCLK C V F18 F17 Z F19 F20 SPACE>;  // adjust as desired
            ignore-numbers;                                // numbers don't deactivate the layer
	   
	};
       



    };

    //conditional_layers {
      //   compatible = "zmk,conditional-layers";
       //  tri_layer {
        //     if-layers = <1 2>;
         //    then-layer = <3>;
       //  };
   //  };

    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <  //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│           │         │         │         │          │         │      │           │          │         │         │aa
        //   &kp LT     &kp GT     &kp AT    &kp LC(Z)   &kp LS(LC(F))     &kp F18     &mkp LCLK    &mkp MCLK   &kp F19    
          &kp Q      &kp W      &kp F      &kp P     &kp K           &kp J      &kp U    &kp E   &kp L   &kp BSPC
          
        
        //├──────────┼──────────┼──────────┼──────────┼>──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │          │          │   │          │          │          │          │         │
     //    &kp LPAR   &kp RPAR    &kp F9   &kp LC(C)  &kp LC(V)      &kp N0      &kp N  F17     &trans   &kp F20   &kp UNDER
          &kp A      &kp S     &kp R      &kp T      &kp G          &kp M      &kp N      &mkp LCLK      &kp I     &kp O

                  
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │          │          │   │          │          │          │          │          │
         // &kp DQT &kp LCTRL   &kp ESC    &mkp RCLK &kp LC(F)      &kp LBRC  &kp RBRC     &kp F22     &kp F11   
         &kp LSHIFT        &kp X      &kp C      &kp D      &kp V           &kp B     &kp H      &kp Y   &lt 2 Z   &lt 3 SPACE    
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                     &kp SPACE &lt 1 ENTER          &kp DOT &kp F23 
        //                                 ╰─────────────────╯   ╰──────────┴──────────╯

            >;
        };

        right_layer {
            bindings = <
              //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬─────────╮
        //│  Q       │  W      │  F            P     │    K            J      │     L    │           │      Y  │   .     │
            &kp LT   &kp GT    &kp LPAR       &kp F4      &kp F5            &kp F19 &kp F6 &kp SEMI  &kp F7      &kp F2 
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼─────────┼──────────┤
        //│  A       │  S      │  R        │  T       │  G       │   │   M       │  N       │  E        │  I       │ O     │
          &kp LEFT_BRACE  &kp RIGHT_BRACE    &kp RPAR    &kp F11   &kp F1        &kp DOT &kp EXCL  &mkp MCLK    &kp QMARK   &kp COMMA         
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  Z       │  X       │  C       │  D       │  V       │   │  B     │  H        │    U     │    Y    │ P      │
            &kp  LA(TAB)    &kp DQT     &kp ESC    &mkp RCLK &kp F16  &kp F20    &kp PIPE   &kp F10       &kp UNDER   &kp COLON
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                           &kp SPACE   &kp ENTER  &kp LSHIFT    &kp LSHIFT
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };
       
        left_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│          │         │         │         │          │   │     │         │         │         │        │
            &kp HASH  &kp AT &kp F10  &kp F11    &kp SINGLE_QUOTE           &kp RBRC   &kp HASH   &kp LPAR   &kp RPAR    &kp SLASH
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│         │         │         │        │            │         │         │         │         │         │
          &kp F15  &kp F16   &kp LBRC    &kp RBRC  &kp PIPE      &kp DOT   &kp QMARK    &kp COMMA   &kp V  &kp D  
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │          │          │   │  &      │        │         │  │       │          │
            &kp BSLH     &kp CARET   &kp AMPS    &kp DLLR    &kp UNDER        &kp C  &kp X  &kp Z      &kp PIPE      &trans
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &kp COLON     &kp SEMI     &kp  LA(TAB)  &kp SEMI
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        tri_layer {
            bindings = <
         //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬─────────╮
        //│  Q       │  W      │  F            P     │    K            J      │     L    │           │      Y  │   .     │
              &kp N1     &kp N2     &kp N3      &kp N4    &kp N5       &kp J      &kp LBRC  &kp RBRC   &kp L   &kp BSPC
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼─────────┼──────────┤
        //│  A       │  S      │  R        │  T       │  G       │   │   M       │  N       │  E        │  I       │ O     │
              &kp N6      &kp N7     &kp N8    &kp N9      &kp N0        &kp M         &kp N      &kp E       &kp I     &kp O
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  Z       │  X       │  C       │  D       │  V       │   │  B     │  H        │    U     │    Y    │ P      │
             &kp PLUS &kp MINUS  &kp SLASH  &kp STAR   &kp EQUAL        &kp F3     &kp H      &kp DOT   &kp RCTRL     &bt BT_CLR
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                          &kp DOT  &kp ESC 		&kp ENTER    &kp SPACE   
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

    };
};
